@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="/Helpers/Upload">Upload</a></li>
    <li><a href="/Helpers/UploadFor">UploadFor</a></li>
    <li><a href="/Helpers/UploadForInNested">UploadFor in nested Model property</a></li>
</ul>
