@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li><a href="/ActionResults/Atom10">Atom</a></li>
    <li><a href="/ActionResults/Image">Image</a></li>
    <li><a href="/ActionResults/Rss20">RSS</a></li>
    <li><a href="/ActionResults/Jsonp?callback=mycallback">Jsonp</a></li>
</ul>
